name: github pages

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  deploy_dry_run:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  
          fetch-depth: 0
      - name: Install wasm-pack 
        uses: actions-rs/install@v0.1
        with:
          crate: wasm-pack
          version: latest
          use-tool-cache: true 
      - name: Install nodejs
        uses: actions/setup-node@v1
        with:
          node-version: "lts/*"

      - name: Release build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
      - name: Release wasm build 
        run: wasm-pack build --release

      - name: Build site
        working-directory: ./www
        run: |
          npm install
          npm run build
  deploy:
    runs-on: ubuntu-20.04
    # A deploy can only happen off a manual-release job if manually triggered off main.
    environment: manual-release
    if: github.ref == 'refs/heads/main' && contains(fromJSON('["workflow_dispatch"]'), github.event_name)
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  
          fetch-depth: 0
      - name: Install wasm-pack 
        uses: actions-rs/install@v0.1
        with:
          crate: wasm-pack
          version: latest
          use-tool-cache: true 
      - name: Install nodejs
        uses: actions/setup-node@v1
        with:
          node-version: "lts/*"

      - name: Release build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
      - name: Release wasm build 
        run: wasm-pack build --release

      - name: Build site
        working-directory: ./www
        run: |
          npm install
          npm run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./www/dist