name: github pages

on:
  pull_request:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-20.04
    environment: manual-release
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  
          fetch-depth: 0
      - name: Install wasm-pack 
        uses: actions-rs/install@v0.1
        with:
          crate: wasm-pack
          version: latest
          use-tool-cache: true 
      - name: Install nodejs
        uses: actions/setup-node@v1
        with:
          node-version: 16.13

      - name: Release build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
      - name: Release wasm build 
        run: wasm-pack build --release

      - name: Build site
        working-directory: ./www
        run: |
          npm install
          npm run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./www/dist